{% extends 'cores/cores.html' %}
{% load static %}
{% block body %}
    <header>
        <h1>{{ titulo }}</h1>
        {% if projeto %}
            <p>{{ projeto.nome }}</p>
        {% endif %}
    </header>

    <div class="gallery-container">
        {% for foto in fotos %}
            <div class="gallery-items">
                <a href="{{ foto.image.url }}" class="image-link" data-image-url="{{ foto.image.url }}" data-image-alt="{{ foto.name }}">
                    <img src="{{ foto.image.url }}" alt="{{ foto.name }}">
                </a>
                <h2>{{ foto.name }}</h2>
                <p>{{ foto.description }}</p>
            </div>
        {% endfor %}
    </div>

    <!-- Fullscreen overlay -->
    <div id="fullscreen-overlay" class="overlay">
        <span id="close-btn" class="close-btn">&times;</span>
        <img id="fullscreen-image" src="" alt="">
    </div>

    <footer>
        <p>© Vira Lata Intervenções Artísticas - Todos os direitos reservados</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const overlay = document.getElementById('fullscreen-overlay');
            const fullscreenImage = document.getElementById('fullscreen-image');
            const closeBtn = document.getElementById('close-btn');

            document.querySelectorAll('.image-link').forEach(link => {
                link.addEventListener('click', function(event) {
                    event.preventDefault();
                    fullscreenImage.src = this.dataset.imageUrl;
                    fullscreenImage.alt = this.dataset.imageAlt;
                    overlay.style.display = 'flex';
                });
            });

            closeBtn.addEventListener('click', function() {
                overlay.style.display = 'none';
            });

            overlay.addEventListener('click', function(event) {
                if (event.target === overlay) {
                    overlay.style.display = 'none';
                }
            });
        });
    </script>
{% endblock body %}
